/* src/components/Header.css */
.header {
  background: linear-gradient(90deg, #00000047, #ffffff09, #2e0059);
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the header stays on top */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px; /* Optional: Set a max width */
  margin: 0 auto; /* Center the content within the header */
  padding: 0 20px; /* Add some horizontal padding */
}

.header h1 {
  margin: 0;
  font-size: 24px;
  letter-spacing: 2px;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

.header nav ul li a:hover {
  color: #ffccff;
}

@media (max-width: 768px) {
  .header nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
}

/* Adjust the main content to account for the fixed header */
.main-content {
  padding-top: 80px; /* Adjust based on the header height */
}
