/* src/styles/GlobalForms.css */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  color: white;
  min-height: vh;
}

.custom-form {
  width: 100%;
  max-width: 400px;
  background: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.ant-form-item-label > label,
.custom-form .ant-form-item-label > label {
  color: white !important;
}

.ant-input,
.custom-form .ant-input {
  background: #444;
  color: white;
  border: 1px solid #ccc;
}

.ant-input::placeholder,
.custom-form .ant-input::placeholder {
  color: #999;
}

.ant-btn-primary,
.custom-form .ant-btn-primary {
  background-color: #6a0dad;
  border-color: #6a0dad;
}

.ant-btn-primary:hover,
.custom-form .ant-btn-primary:hover {
  background-color: #5a00a3;
  border-color: #5a00a3;
}
